# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MY_BOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "Unit 01"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_ARCHITEUTHIS_DUX_RIGHT

config ZMK_KEYBOARD_NAME
	default "Unit 01 - Auxiliary"
    
endif

if SHIELD_UNIT01_LEFT || SHIELD_UNIT01_RIGHT

config ZMK_SPLIT
    default y

endif
