#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
          bindings = <
            //               ╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
                               &bootloader         &bootloader         &bootloader         &bootloader             &bootloader         &bootloader         &bootloader         &bootloader
            // ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
                 &bootloader         &bootloader         &bootloader         &bootloader         &bootloader             &bootloader         &bootloader         &bootloader         &bootloader         &bootloader
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &bootloader         &bootloader         &bootloader         &bootloader         &bootloader             &bootloader         &bootloader         &bootloader         &bootloader     &bootloader
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           &bootloader    &bootloader         &bootloader     &bootloader
            //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
          >;
        };
    };
};