#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define SYMBOLS 1
#define NUMBERS 2
#define MOVEMENT 3
#define FUNCTIONS 4

  &mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
  };

  &sk {
    release-after-ms = <2000>;
    quick-release;
  };

 {
  
  combos {
    compatible = "zmk,combos";
    combo_function {
      timeout-ms = <30>;
      key-positions = <9 16>;
      bindings = <&to FUNCTIONS>;
    };
    combo_reset_left {
      timeout-ms = <30>;
      key-positions = <0 1 2 3>;
      bindings = <&reset>;
    };
    combo_reset_right {
      timeout-ms = <30>;
      key-positions = <4 5 6 7>;
      bindings = <&reset>;
    };
    combo_bootloader_left {
      timeout-ms = <30>;
      key-positions = <19 20 21 22>;
      bindings = <&bootloader>;
    };
    combo_bootloader_right {
      timeout-ms = <30>;
      key-positions = <23 24 25 26>;
      bindings = <&bootloader>;
    };
  };

  behaviors {
    // Quick hold tap
    gqt: global-quick-tap {
      compatible = "zmk,behavior-hold-tap";
      label = "GLOBAL_QUICK_TAP";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <125>;
      global-quick-tap;
      bindings = <&kp>, <&kp>;
    };
    // Momentary / to layer hold tap
    mo_to: behavior_mo_to {
        compatible = "zmk,behavior-hold-tap";
        label = "mo_to";
        #binding-cells = <2>;
        flavor = "hold-preferred";
        tapping-term-ms = <200>;
        bindings = <&mo>, <&to>;
    };
    brc: tap_dance_0 {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_0";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LBRC>, <&kp RBRC>;
    };
    bkt: tap_dance_1 {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_1";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LBKT>, <&kp RBKT>;
    };
    par: tap_dance_2 {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_2";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LPAR>, <&kp RPAR>;
    };
    ltgt: tap_dance_3 {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_3";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp LT>, <&kp GT>;
    };
    qt: tap_dance_4 {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_4";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp SQT>, <&kp DQT>;
    };
    lt_qt: behavior_lt_qt {
        compatible = "zmk,behavior-hold-tap";
        label = "lt_qt";
        #binding-cells = <1>;
        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        bindings = <&mo>, <&qt>;
    };
    colon: tap_dance_5 {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_5";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp COLON>, <&kp SEMI>;
    };
    slh: tap_dance_6 {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_6";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp FSLH>, <&kp BSLH>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
                              &kp W                 &kp F                 &kp P                 &kp B                                                                 &kp J                 &kp L                 &kp U                 &kp Y                 
        &lt MOVEMENT A        &gqt LCTL R           &gqt LALT S           &gqt LMETA T          &kp G                                                                 &kp M                 &gqt RMETA N          &gqt RALT E           &gqt RCTL I           &lt MOVEMENT O                 
        &kp Z                 &kp X                 &kp C                 &kp V                 &kp D                                                                 &kp K                 &kp H                 &kp Q                 &kp BSPC              &kp RET                      
                                                                                                &kp SPC               &kp LSHIFT                &kp LMETA             &mo_to SYMBOLS           
      >;
    };

    Symbols_layer {
      bindings = <
                              &kp AT                &kp HASH              &kp DOLLAR            &kp PRCNT                                                             &kp CARET             &kp AMPS              &kp STAR              &kp EQUAL                 
        &lt MOVEMENT EXCL     &kp QMARK             &kp DOT               &ltgt                 &kp TILDE                                                             &par                  &brc                  &bkt                  &colon                &lt_qt MOVEMENT         
        &kp UNDER             &kp MINUS             &kp PLUS              &kp MINUS             &kp GRAVE                                                             &slh                  &kp COMMA             &kp SQT               &trans                &trans                
                                                                                                &to BASE              &trans                    &trans                &to NUMBERS           
      >;
    };

    Numbers_layer {
      bindings = <
                              &kp N7                &kp N8                &kp N9                &kp PLUS                                                              &none                 &none                 &none                 &none                 
        &lt MOVEMENT UNDER    &kp N4                &kp N5                &kp N6                &kp MINUS                                                             &kp DOT               &kp COMMA             &kp BACKSLASH         &none                 &lt MOVEMENT O          
        &kp N0                &kp N1                &kp N2                &kp N3                &kp EQUAL                                                             &none                 &none                 &none                 &trans                &trans                
                                                                                                &to BASE              &trans                    &trans                &to SYMBOLS           
      >;
    };
    
    Movement_layer {
      bindings = <
                              &kp HOME              &kp UP                &kp END               &kp PGUP                                                               &kp C_AC_BACK         &kp C_AC_REFRESH      &kp C_AC_FORWARD      &none                 
        &kp TAB               &mt LCTL LEFT         &mt LALT DOWN         &mt LMETA RIGHT       &kp PGDN                                                               &kp LEFT              &mt RMETA DOWN        &mt RALT UP           &mt RCTL RIGHT        &kp TAB                 
        &none                 &none                 &none                 &none                 &none                                                                  &none                 &none                 &none                 &trans                &trans                
                                                                                                &to BASE              &trans                    &trans                 &kp LALT                 
      >;
    };

    Functions_layer {
      bindings = <
                              &kp ESC               &kp C_PREV            &kp C_NEXT            &kp C_PP                                                              &kp C_AC_BACK         &kp C_AC_REFRESH      &kp C_AC_FORWARD      &none                 
        &bootloader           &kp F1                &kp F2                &kp F3                &kp F4                                                                &kp F5                &kp F6                &kp F7                &kp F8                 &bootloader           
        &bt BT_CLR            &none                 &bt BT_NXT            &bt BT_PRV            &none                                                                 &bt BT_SEL 1          &bt BT_SEL 2          &bt BT_SEL 3          &trans                &trans                
                                                                                                &to BASE              &trans                    &trans                &kp LALT              
      >;
    };

  };
};