#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
          bindings = <
            //               ╭─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────╮
                               &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y
            // ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
                 &kp A         &kp R         &kp S         &kp T         &bt G             &kp M         &kp N         &kp E         &kp I         &kp O
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &kp Z         &kp X         &kp C         &kp V         &kp D             &kp K         &kp H         &kp Q         &kp COMMA     &kp DOT
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                           &kp LSHIFT    &kp SPACE         &kp SPACE     &kp LSHIFT
            //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
          >;
        };
    };
};